'.source.elasticsearch2.indices':
  'Analysis':
    'prefix': 'analysis'
    'body': """
      "analysis": {
        "char_filter": {${1:/*--- custom charctor filters ---*/}},
        "tokenizer":   {${2:/*--- cstom tokenizers        ---*/}},
        "filter":      {${3:/*--- cstom token filters     ---*/}},
        "analyzer":    {${4:/*--- cstom analyzers         ---*/}},
      }$5
    """
  'Analyzer':
    'prefix': 'analyzer'
    'body': """
      "${1:my_analyzer}": {
        "type": "custom",
        "char_filter": [${2:"html_strip", "&_to_and"}],
        "tokenizer": "${3:standard}",
        "filter": [${4:"lowercase", "my_stopwords"}]
      }$5
    """
