'.source.elasticsearch2.indices':
  'Standard Tokenizer':
    'prefix': 'tokenizer:standard'
    'body': """
      "${1:my_standard}": {
        "type": "standard",
        "max_token_length": ${2:255}
      }$3
    """
  'Edge NGram Tokenizer':
    'prefix': 'tokenizer:standard'
    'body': """
      "${1:my_edge_ngram}": {
        "type": "edgeNGram",
        "min_gram": ${2:1},
        "max_gram": ${3:2},
        "token_chars": [${4:"letter", "digit"}],
      }$5
    """
  'Keyword Tokenizer':
    'prefix': 'tokenizer:keyword'
    'body': """
      "${1:my_keyword}": {
        "type": "keyword",
        "buffer_size": ${2:256}
      }$3
    """
  'Letter Tokenizer':
    'prefix': 'tokenizer:letter'
    'body': """
      "${1:my_letter}": {
        "type": "letter"
      }$2
    """
  'Lowercase Tokenizer':
    'prefix': 'tokenizer:lowercase'
    'body': """
      "${1:my_lowercase}": {
        "type": "lowercase"
      }$2
    """
  'NGram Tokenizer':
    'prefix': 'tokenizer:nGram'
    'body': """
      "${1:my_ngram}": {
        "type": "nGram",
        "min_gram": ${2:2},
        "max_gram": ${3:3},
        "token_chars": [${4:"letter", "digit"}],
      }$5
    """
  'Whitespace Tokenizer':
    'prefix': 'tokenizer:whitespace'
    'body': """
      "${1:my_whitespace}": {
        "type": "whitespace"
      }$2
    """
  'Pattern Tokenizer':
    'prefix': 'tokenizer:pattern'
    'body': """
      "${1:my_pattern}": {
        "type": "pattern",
        "pattern": "${2:\\\\\\\\\\W+}",
        "flags": "${3:CASE_INSENSITIVE|COMMENTS}",
        "group": ${4:-1}
      }$5
    """
  'UAX Email URL Tokenizer':
    'prefix': 'tokenizer:uax_url_email'
    'body': """
      "${1:my_uax_url_email}": {
        "type": "uax_url_email",
        "max_token_length": ${2:255}
      }$2
    """
  'Path Hierarchy Tokenizer':
    'prefix': 'tokenizer:path_hierarchy'
    'body': """
      "${1:my_path_hierarchy}": {
        "type": "path_hierarchy",
        "delimiter": "${2:/}",
        "replacement" "${3:/}",
        "buffer_size": ${4:1024},
        "reverse": ${5:false},
        "skip": ${6:0}
      }$7
    """
  'Classic Tokenizer':
    'prefix': 'tokenizer:classic'
    'body': """
      "${1:my_classic}": {
        "type": "classic",
        "max_token_length": ${2:255}
      }$3
    """
  'Thai Tokenizer':
    'prefix': 'tokenizer:thai'
    'body': """
      "${1:my_thai}": {
        "type": "thai"
      }$3
    """
