'.source.elasticsearch2.search':
  'Constant Score Query':
    'prefix': 'constant_score'
    'body': """
      "constant_score": {
        "filter": {
          ${1:"term": \\{"user": "kimchy"\\}}
        },
        "boost": ${2:1.2}
      }$3
    """
  'Bool Query':
    'prefix': 'bool'
    'body': """
      "bool": {$1}
    """
  'must':
    'prefix': 'must'
    'body': """
      "must": [
        {$1}
      ]
    """
  'must_not':
    'prefix': 'must_not'
    'body': """
      "must_not": [
        {$1}
      ]
    """
  'should':
    'prefix': 'should'
    'body': """
      'should': [
        {$1}
      ]
    """
  'minimum_should_match':
    'prefix': 'minimum_should_match'
    'body': """
      "minimum_should_match": ${1:1}
    """
  'Dis Max Query':
    'prefix': 'dis_max'
    'body': """
      "dis_max": {
        "tie_breaker": ${1:0.7},
        "boost": ${2:1.2},
        "queries": [
          ${3:\\{"term": \\{"age": 34\\}\\}},
          ${4:\\{"term": \\{"age": 35\\}\\}}
        ]
      }$5
    """
  'Function Score Query':
    'prefix': 'function_score'
    'body': """
      "function_score": {
        "functions": [
          ${1:\\{"gauss": \\{"price": \\{"origin": "0", "scale": "20"\\}\\}\\}},
          ${2:\\{"gauss": \\{"location": \\{"origin": "11, 12", "scale": "2km"\\}\\}\\}}
        ],
        "query": {
          ${3:"match": \\{"properties": "balcony"\\}}
        },
        "score_mode": "${4:multiply}"
      }$5
    """
  'Boosting Query':
    'prefix': 'boosting'
    'body': """
      "boosting": {
        "positive": {
          ${1:"term": \\{"field1": "value1"\\}}
        },
        "negative": {
          ${2:"term": \\{"field2": "value2"\\}}
        },
        "negative_boost": ${3:0.2}
      }$4
    """
  'Indices Query':
    'prefix': 'indices'
    'body': """
      "indices": {
        "indices": [${1:"index1", "index2"}],
        "query": {
          ${2:"term": \\{"tag": "wow"\\}}
        },
        "no_match_query": {
          ${3:"term": \\{"tag": "kow"\\}}
        }
      }$4
    """
  'Limit Query':
    'prefix': 'limit'
    'body': """
      "limit": {
        "value": ${1:100}
      }$2
    """
